@media (min-width: 1000px) {
    .searchbar{
        width: 64%;
    }
}
@media (min-width: 400px) {
    .main{
        width: 330px;
        margin: 10px 20px 20px 20px;
    }
    .main img{
        width: 330px;
    }
}