@media (min-width: 200px) {
    .logo img{
            width: 170px;
            margin-top: 25px;
    }
    .weather{
        margin-top: 3px;
    }
    .searchbar{
        margin-top: 145px;
    }
    .searchfunction{
        width: 90%;
    }
    .dv{
        margin-top: 215px;
    }
    .cp{
        margin-top: 250px;
    }
}
@media (min-width: 300px) {
    .logo img{
            width: 198px;
            margin-top: 25px;
    }
    .weather{
        margin-top: 3px;
    }
    .searchbar{
        margin-top: 165px;
    }
    .searchfunction{
        width: 90%;
    }
    .dv{
        margin-top: 235px;
    }
    .cp{
        margin-top: 270px;
    }
}
@media (min-width: 400px) {
    .logo img{
            width: 225px;
            margin-top: 25px;
    }
    .weather{
        margin-top: 5px;
    }
    .searchbar{
        margin-top: 188px;
    }
    .searchfunction{
        width: 85%;
    }
    .dv{
        margin-top: 260px;
    }
    .cp{
        margin-top: 290px;
    }
}
@media (min-width: 1000px) {
    .logo img{
            width: 265px;
            margin-top: 25px;
    }
    .weather{
        margin-top: 5px;
    }
    .searchbar{
        margin-top: 235px;
        /* width: 80%; */
    }
    .searchfunction{
        width: 70%;
    }
    .dv{
        margin-top: 310px;
    }
    .cp{
        margin-top: 350px;
    }
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
@media (min-width: 200px) {
    
}
